html {
    /*font-size: 16px;*/
    background-color: #CFD3D4;
}

body {
    width: 640px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

p {
  width: 640px;
  /*border: 1px solid black;*/
  font-size: 14px;
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 20px 0;
    color: #4381B0;
    text-shadow: 35px 25px 4px gray;
}

img {
    display: block;
    margin: 0 auto;
}